:root {
	--font-size: 16px;
	--root-size: 1.2rem;
	--futura: "futura-pt", sans-serif;
	--futura-weight: 500;
	--futura-style: italic; 
	--shingo: "A-OTF Shin Go Pro B";
	--shingo-weight: normal;
	--shingo-style: normal;
	--fira: "Fira Mono", serif;
	--fira-weight: 400;
	--fira-style: normal;
	--top-white: rgb(245,244,242);
	--basegray: rgb(195,191,192);
	--dark-green: rgb(58,66,7);
	--light-green: rgb(96,109,13);
	--black: rgb(27,27,29);
	--margin: 1.5rem;
	--padding: 1rem;
	--border-radius: 1.5rem;
}

/* FONTS */
.otf {
	font-family: var(--shingo);
}

.futura {
	font-family: var(--futura);
}

.fira {
	font-family: var(--fira);
}


/* BODY */
body {
	background-color: var(--basegray);
	box-shadow: inset 5px 5px 10px #888, inset -5px -5px 10px #fff;
}


/* HEADER */
header {
	padding: var(--padding);
	text-align: center;
	background-color: var(--top-white);
	color: var(--basegray);
	margin-bottom: var(--margin);
}

h1 {
	background-color: var(--top-white);
	color: var(--basegray);
}


/* INTRO */
#intro {
	text-align: center;
	background-color: var(--light-green);
	box-shadow: inset 5px 5px 10px var(--dark-green), inset -5px -5px 10px var(--light-green);
	color: var(--dark-green);
	margin-left: var(--margin);
	margin-right: var(--margin);
	padding: var(--padding);
	border-radius: calc(var(--border-radius)/1.5);

}

h2 {
	font-size: calc(var(--font-size)*1.3);
	border: solid var(--dark-green) 2px;
	border-radius: var(--border-radius);
	width: 10rem;
	margin: auto;
	margin-bottom: var(--padding);
}

h3 {
	font-size: calc(var(--font-size)*1.5);
	margin-bottom: var(--padding);
}

#intro-p {
	margin-bottom: var(--padding);
}

.button {
	border: solid var(--dark-green) 1px;
	border-radius: var(--border-radius);
	max-width: 5rem;
	margin: auto;
}


/* GAMEBOY ELEMENTS */	/* derived from https://codepen.io/amyyf/pen/rJBypJ */
/* OVERALL BOX AROUND BUTTONS */
.button-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 20rem;
	height: 10rem;
	margin: auto;
	position: relative;
}

/* ARROWS */
.arrow-group {
	height: 5rem;
	width: 5rem;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.up-box {
	background-color: var(--black);
	border-radius: 4px 4px 0 0;
	box-shadow: 2px 2px 4px black, inset 2px 2px 4px darkgray, -1px -1px 2px black;
	height: 33%;
	width: 33%;
	left: 33%;
	position: absolute;
}

.right-box {
	background-color: var(--black);
	border-radius: 0 4px 4px 0;
	box-shadow: 2px 2px 4px black, inset 0 4px 4px -2px darkgray, -1px -1px 2px black;
	height: 33%;
	width: 33%;
	right: 0%;
	top: 33%;
	position: absolute;
}

.down-box {
	background-color: var(--black);
	border-radius: 0 0 4px 4px;
	box-shadow: 2px 2px 4px black, inset 4px 0 4px -2px darkgray, -1px -1px 2px black;
	height: 34%;
	width: 33%;
	bottom: 0%;
	left: 33%;
	position: absolute;
}

.center-box {
	background-color: var(--black);
	height: 33%;
	width: 33%;
	left: 33%;
	top: 33%;
	position: absolute;
}

.left-box {
	background-color: var(--black);
	border-radius: 4px 0 0 4px;
	box-shadow: 0 4px 4px -2px black, inset 2px 2px 4px darkgray, -1px -1px 2px black;
	height: 33%;
	width: 33%;
	top: 33%;
	position: absolute;
}

.right {
	transform: rotate(90deg);
}

.down {
	transform: rotate(180deg);
}

.left {
	transform: rotate(270deg);
}

.dent {
	background-color: var(--black);
	border-radius: 50%;
	left: 6px;
	top: 6px;
	position: absolute;
	height: 17px;
	width: 17px;
}

/* A/B BUTTON */
.ab-button {
	background-color: var(--black);
	box-shadow: 0 4px 4px -2px black, inset 2px 2px 4px darkgray, -1px -1px 2px black;
	border-radius: 50%;
	font-family: var(--fira);
	color: var(--basegray);
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ab-flex {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

