:root {
	--font-size: 16px;
	--root-size: 1.2rem;
	--futura: "futura-pt", sans-serif;
	--futura-weight: 500;
	--futura-style: italic; 
	--shingo: "A-OTF Shin Go Pro B", monospace;
	--shingo-weight: normal;
	--shingo-style: normal;
	--fira: "Fira Mono", serif;
	--fira-weight: 400;
	--fira-style: normal;
	--top-white: rgb(229, 228, 227);
	--basegray: rgb(195,191,192);
	--darkbasegray: rgb(94,91,98);
	--dark-green: rgb(58,66,7);
	--light-green: rgb(96,109,13);
	--bright-green: rgb(182, 206, 27);
	--black: rgb(27,27,29);
	--blue: rgb(41,39,152);
	--red: rgb(155,0,64);
	--margin: 1.5rem;
	--padding: 1rem;
	--border-radius: 1.5rem;
	--dark-md-bg: rgb(58,66,7);
}

/* FONTS */
.otf {
	font-family: var(--shingo);
}

@font-face {
	font-family: 'A-OTF Shin Go Pro B';
	src: local('A-OTF Shin Go Pro B'), url('../assets/shingo/AOTFShinGoProBold.woff') format('woff');
}

.futura {
	font-family: var(--futura);
}

@font-face {
	font-family:"Futura";
	src: local('Futura-Medium.woff') url(../assets/futura/Futura-Medium.woff) format('woff');
	font-style: italic;
}

.fira {
	font-family: var(--fira);
}


/* BODY */
body {
	background-color: var(--basegray);
	box-shadow: inset 5px 5px 10px #888, inset -5px -5px 10px #fff;
}


/* HEADER */
header {
	text-align: center;
	background-color: var(--top-white);
	color: var(--basegray);
	margin-bottom: var(--margin);
	box-shadow: 0 4px 5px -2px var(--darkbasegray), inset 5px 5px 10px var(--basegray);
	height: 4rem;
	border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

h1 {
	color: var(--basegray);
	padding: var(--padding);
}

.line {
	border-left: solid 2px var(--basegray);
	height: 4rem;
}

.header-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
}

/* TONE TOGGLE - modified from https://uiverse.io/adamgiebl/tame-newt-21 */
.tone-toggle {
	--knob-size: 1.2em;
	display: flex;
	justify-content: center;
	position: relative;
}

.toggle-input {
	position: absolute;
	z-index: 2;
	bottom: 50%;
	border-radius: 50%;
	transform: rotate(-25deg);
	transform-origin: 50% 4.75em;
	width: var(--knob-size);
	height: var(--knob-size);
	opacity: 0;
	font: inherit;
	transition: transform .24s cubic-bezier(.65, 1.35, .5, 1);
	cursor: pointer;
}

.toggle-input:checked {
	transform: rotate(25deg);
}

.handle-container {
	position: absolute;
	z-index: 1;
	bottom: -105%;
	-webkit-mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
	mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
	width: 200%;
	overflow: hidden;
}

.handle {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: rotate(-25deg);
	transform-origin: bottom center;
	transition: transform .24s cubic-bezier(.65, 1.35, .5, 1);
}

.toggle-input:checked + .handle-container > .handle {
	transform: rotate(25deg);
}

.knob {
	position: relative;
	z-index: 1;
	border-radius: 50%;
	width: var(--knob-size);
	height: var(--knob-size);
	background-image: radial-gradient(farthest-corner at 70% 30%, var(--bright-green) 4%, var(--dark-green) 75%);
	transition: transform .24s cubic-bezier(.65, 1.35, .5, 1);
}

.toggle-input:checked + .handle-container .knob {
	transform: rotate(-90deg);
}

.knob::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 8px 2px rgb(255 255 255 / .4);
	opacity: 0;
	transition: opacity 0.2s;
}

@media (hover: hover) {
	.toggle-input:hover + .handle-container .knob::after, .toggle-input:focus-visible + .handle-container .knob::after {
		opacity: 1;
	} 
}

.bar-container {
	position: relative;
	width: .4em;
	height: 2.8em;
	overflow: hidden;
}

.toggle-bar {
	position: absolute;
	top: calc(var(--knob-size) / 2 * -1);
	left: 0;
	width: 100%;
	height: calc(100% + var(--knob-size) / 2);
	background-image: linear-gradient(to right, #1f1f1f, #161616, #1f1f1f 45% 55%, #161616, #1f1f1f);
	background-position-x: .06125em;
	transition: background-position-x .24s cubic-bezier(.65, 1.35, .5, 1);
	box-shadow: inset 0 1em .25em rgb(0 0 0 / .4);
}

.toggle-input:checked + .handle-container .toggle-bar {
	background-position-x: -.06125em;
}

.toggle-base {
	position: relative;
	border-radius: 3.125em;
	padding: .25em;
	width: 3.5em;
	height: 1.125em;
	background-color: #2222;
	background-image: linear-gradient(to bottom, #4444, #2222);
	box-shadow: 0 -.25em .5em #fff, 0 .25em .5em #d7d7d7;
	overflow: hidden;
}

.base-inside {
	position: relative;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, #1f1f1f, #0f0f0f);
	box-shadow: inset 0 .0625em rgb( 255 255 255 / .2), inset 0 -.03125em rgb(255 255 255 / 1), inset 0 -.0625em 0.25em rgb(0 0 0 / .1);
	overflow: hidden;
}

.base-inside::after {
	content: '';
	position: absolute;
	border-radius: inherit;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, var(--bright-green), var(--light-green));
	box-shadow: inherit;
	opacity: 0;
	transition: opacity .24s cubic-bezier(.65, 1.35, .5, 1);
}

.toggle-input:checked ~ .toggle-base .base-inside::after {
	opacity: 1;
}


/* SCREEN */
#screen {
	background-color: var(--light-green);
	box-shadow: inset 5px 5px 10px var(--dark-green), inset -5px -5px 10px var(--light-green);
	color: var(--dark-green);
	padding: var(--padding);
	border-radius: calc(var(--border-radius)/1.5);
	filter: contrast(1.2) saturate(0.8);
}

.scanlines::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0px, rgba(0, 0, 0, 0.1) 2px, transparent 3px, transparent 4px);
	pointer-events: none;
	z-index: 2;
}

#screen.blur {
	filter: blur(1px) contrast(1.1) saturate(0.9);
}



@media (min-width: 800px) {
	/* HEADER */
	.header-container {
		gap: 10rem;
	}
}

@media (min-width: 1290px) {
	/* TONE TOGGLE */
	.knob {
		width: calc(var(--knob-size)*1.8);
		height: calc(var(--knob-size)*1.8);
	}

	.toggle-base {
		width: 4.5em;
		height: 1.5em;
	}

	.bar-container {
		width: .8em;
		height: 3.2em;
	}

	.handle-container {
		bottom: -115%;
	}

}
