
/* SCREEN & IMAGES*/
#screen {
	margin-left: var(--margin);
	margin-right: var(--margin);
	padding-left: 0;
	padding-right: 0;
	height: 21.5rem;
	overflow: scroll;

	img {
		mix-blend-mode: luminosity;
		display: block;
		object-fit: cover;
		overflow: clip;
		aspect-ratio: 1/1;
		border-radius: var(--border-radius);
	}
}

#screen::-webkit-scrollbar {
	display: none;
}

/* IMG GRID */
.screen-grid {
	display: grid;
	gap: 1rem;
	min-width: 20rem;
	/* grid-template-columns: 2fr 2fr; */
}

.grid-item {
	width: 18rem;
	height: 22rem;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

/* IMG DESCRIPTION */
.title-flex {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.description {
	color: var(--dark-green);
	font-size: var(--font-size);
	text-align: center;
}


/* GAMEBOY ELEMENTS */	/* derived from https://codepen.io/amyyf/pen/rJBypJ */
/* OVERALL BOX AROUND BUTTONS */
.button-box {

	display: flex;
	justify-content: space-evenly;
	gap: 5rem;
	align-items: center;
	height: 8.5rem;
	margin: auto;
	position: sticky;
	bottom: 0;
}

/* ARROWS */
.arrow-group {
	height: 5rem;
	width: 5rem;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.up-box {
	background-color: var(--black);
	border-radius: 4px 4px 0 0;
	box-shadow: 2px 2px 4px black, inset 2px 2px 4px darkgray, -1px -1px 2px black;
	height: 33%;
	width: 33%;
	left: 33%;
	position: absolute;
	cursor: pointer;
}

.right-box {
	background-color: var(--black);
	border-radius: 0 4px 4px 0;
	box-shadow: 2px 2px 4px black, inset 0 4px 4px -2px darkgray, -1px -1px 2px black;
	height: 33%;
	width: 33%;
	right: 0%;
	top: 33%;
	position: absolute;
	cursor: pointer;
}

.down-box {
	background-color: var(--black);
	border-radius: 0 0 4px 4px;
	box-shadow: 2px 2px 4px black, inset 4px 0 4px -2px darkgray, -1px -1px 2px black;
	height: 34%;
	width: 33%;
	bottom: 0%;
	left: 33%;
	position: absolute;
	cursor: pointer;
}

.center-box {
	background-color: var(--black);
	height: 33%;
	width: 33%;
	left: 33%;
	top: 33%;
	position: absolute;
}

.left-box {
	background-color: var(--black);
	border-radius: 4px 0 0 4px;
	box-shadow: 0 4px 4px -2px black, inset 2px 2px 4px darkgray, -1px -1px 2px black;
	height: 33%;
	width: 33%;
	top: 33%;
	position: absolute;
	cursor: pointer;
}

.right {
	transform: rotate(90deg);
}

.down {
	transform: rotate(180deg);
}

.left {
	transform: rotate(270deg);
}

.dent {
	background-color: var(--black);
	border-radius: 50%;
	left: 6px;
	top: 6px;
	position: absolute;
	height: 17px;
	width: 17px;
}

/* A/B BUTTON */
.ab-button {
	background-color: var(--red);
	box-shadow: 0 4px 4px -2px rgb(132, 0, 0), inset 2px 2px 4px darkgray, -1px -1px 2px rgb(96, 1, 1);
	border-radius: 50%;
	font-family: var(--fira);
	color: var(--basegray);
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ab-flex {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 5rem;
}

.a {
	align-self: end;
	cursor: pointer;
}

.b {
	align-self: start;
}

/* A BUTTON POP UP */
#dialog {
	color: var(--dark-green);
	inset: 0;
	place-content: center;
	place-items: center;

	&[open] {
		display: grid;
	}
}

.close {
	background-color: var(--light-green);
	border: solid 1px var(--dark-green);
	color: var(--dark-green);
	border-radius: var(--border-radius);
	padding: var(--padding);
	cursor: pointer;
}

::backdrop {
	background-color: var(--light-green);
}

.selected {
	border: solid 2px var(--bright-green);
	box-shadow: inset 0 0 10px var(--bright-green), 0 0 10px var(--bright-green);
}


/* TABLET BREAKPOINT */
@media (min-width: 800px) {
	
	/* GAMEBOY */
	.gameboy {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		align-items: center;
	}

	.arrow-group {
		grid-column: 1;
		grid-row: 1;
		margin-left: var(--margin);
		margin-top: var(--margin);
	}

	.middle {
		grid-column: 2;
		justify-self: center;
	}

	#screen {
		width: 34rem;
		align-items: center;
		margin-bottom: calc(var(--margin)*1.2);
	}

	.screen-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		width: 18rem;
		margin-left: var(--margin);
		margin-right: var(--margin);
	}
	
	.grid-item {
		border-radius: var(--border-radius);
		width: 15rem;
		height: 19.5rem;
		overflow: hidden;
	}

	.grid-item:hover {
		border: solid 2px var(--bright-green);
		box-shadow: inset 0 0 10px var(--bright-green), 0 0 10px var(--bright-green);
	}

	.selected {
		border: solid 2px var(--bright-green);
		box-shadow: inset 0 0 10px var(--bright-green), 0 0 10px var(--bright-green);
	}

	.ab-flex {
		grid-column: 3;
		justify-self: end;
		margin-right: var(--margin);
	}

	.button-box {
		display: contents;
	}
	
}


/* DESKTOP BREAKPOINT */
@media (min-width: 1290px) {
	/* BODY */
	body {
		min-height: 70rem;
	}
	
	/* HEADER */
	header {
		height: 6rem;
	}

	h1 {
		font-size: calc(var(--font-size)*1.8);
	}

	.line {
		height: 6rem;
	}

	.header-container {
		gap: 20rem;
	}


	/* GAMEBOY */
	.gameboy {
		grid-template-columns: 2fr 8fr 2fr;
	}

	.arrow-group {
		margin-left: calc(var(--margin)*2.2);
		height: 8rem;
		width: 8rem;
	}

	.ab-flex {
		margin-right: calc(var(--margin)*1.5);
		width: 10rem;
	}

	.ab-button {
		width: 4rem;
		height: 4rem;
	}

	.a, .b {
		font-size: calc(var(--font-size)*1.6);
	}

	#screen {
		min-height: 40rem;
		min-width: 50rem;
		margin-top: calc(var(--margin)*1.5);
	}

	/* CONTENTS */
	.screen-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

}